@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
  font-family:'Android';
  src: url('../fontes/idroid.otf') format('opentype');
  font-weight: normal;
}

 :root{
   --cor0:#c5ebd6;
   --cor1:#83e1ad;
   --cor2:#3ddc84;
   --cor3:#2fa866;
   --cor4:#1a5c37;
   --cor5:#063d1e;
  
   --fonte-padrao: 'Arial','Verdana. Helvetica'. sans-serif;
   --fonte-destaque: 'Bebas Neue', sans-serif;
   --fonte-android: 'Android', cursive;
 

  }
  *{
    margin: 0%;
    padding: 0%;
  }


body{
  background-color: var(--cor0);
  font-family:  var(--fonte-padrao);
 
 }

  p{
    margin: 15px 0px 15px 0px;

  }

header{
  background-image: linear-gradient(to bottom, var(--cor3), var(--cor4), var(--cor5));
  min-height: 150px;
  text-align: center;
  padding-top: 40px;
  box-shadow: 4px 3px 5px 1px black;
  font-family: var(--fonte-destaque);
  font-size: 2em;
}   
header > h1{
 color: white;
 text-shadow: 2px 2px 0px black ;

}

header > p{
  font-family: var(--fonte-padrao);
  font-size: 0.8em;
  color: white;
}

nav{
  background-color: var(--cor5);
  padding: 10px;
  box-shadow: 0px 7px 7px rgb(0, 0, 0, 0.192);
 text-align: left;
}
nav > a{
  font-family: var(--fonte-destaque);
        text-decoration: none;
        color: white;
        font-weight: bold;
        margin-right: 30px;
        padding: 10px;
        transition-duration: .5s;
      }

      nav > a:hover{
        background-color: var(--cor2);
        color: var(--cor4);
        border-radius: 10px;
      }

main{
  background-color: white;
  box-shadow: 0px 0px 10px  black;
  margin:auto;
  min-width:300px ;
  max-width: 1000px;
  padding: 20px;
  border-bottom-left-radius: 10px ;
  border-bottom-right-radius: 10px ;
}

main h1{
 font-family: var(--fonte-android);
  color: var(--cor5);
  font-size: 1.5em;
}

main h2{
  font-family: var(--fonte-android);
  color:var(--cor4) ;
  font-size: 1.3em;
  background-image: linear-gradient(to right, var(--cor1), transparent);
}

main p{
text-align: justify;
text-indent: 20px;
font-size: 1em;
line-height: 1.5em;
}

main strong{
  color: var(--cor4);
  font-weight: bold;
  background-color: var(--cor0);
  padding: 2px 6px;
}

main a{
  text-decoration: none;
  font-weight: bold;
  color: var(--cor5);
  background-color: var(--cor1);
  padding: 2px 6px;
}

main a :hover{
  text-decoration: underline;
  color: var(--cor2);
}

  img{
  width: 100%;
 }
 .pequena{
  width: 50%;
  display: block;
  margin: auto ;
 }

article{
  text-align: left;
  padding: 10px;
}

aside h3{
  background-color: #2fa866;
  padding: 5px;
  margin: -10px -10px 0px -10px;
  border-radius: 10px 10px 0px 0px;
  color: white;
  box-shadow: 3px  3px 8px black;
  font-family: Arial, Helvetica, sans-serif;
}

aside{
background-color: #c5ebd6;
padding:0px 10px 10px 10px;
border-radius: 20px;
text-align: left;

}

aside ul{
  list-style-position: inside;
  list-style-type: '\2714';
  columns: 2;
}

aside > a {
  text-decoration: none;
  color:#2fa866;
}

div.video{
background-color: var(--cor4);
margin: 0px -20px 30px -20px;
padding: 20px;
padding-bottom: 59%;
position: relative;
}

div.video > iframe{
position: absolute;
top: 5%;
left:5%;
width: 90%;
height: 90%;

}
footer{
  background-color: var(--cor5);
  color: white;
  height: 20px;
  text-align: center;
  padding: 10px;
  margin-bottom: none;
}