@charset "UTF-8";
*{
  font-family: Arial, Helvetica, sans-serif;
  /* height: 100%; */

}
body{
  background-image: linear-gradient(to right, #042326, #0A3A40, #0F5959 )
}
main{
 background-color: white;
 border-radius: 10px;
 box-shadow: 5px 15px 15px rgb(4, 35, 38);
 width: 600px;
 padding: 10px;
 margin: auto;
}
h1{
  text-align: center;
  color: #0F5959;
  text-shadow: 1px 1px 2px black;
}
h2{
  color: #107361 ;
}
p{
   text-align: justify;
}